/* line 9, ../scss/modules/_core.scss */
a {
  color: #144377;
}
/* line 11, ../scss/modules/_core.scss */
a:focus, a:hover {
  color: #033266;
}

/* Menu vertical */
/* line 2, ../scss/modules/_site.scss */
.vertical {
  list-style: none;
}
/* line 4, ../scss/modules/_site.scss */
.vertical li {
  padding: 3px 0;
}

/* line 8, ../scss/modules/_site.scss */
.label-white {
  color: #fff;
}

/* Pagination */
/* line 14, ../scss/modules/_site.scss */
.pagination .current a {
  color: #fff;
}
/* line 16, ../scss/modules/_site.scss */
.pagination .current a:hover {
  background: none;
}
/* line 20, ../scss/modules/_site.scss */
.pagination .current button {
  color: #fff;
}
/* line 22, ../scss/modules/_site.scss */
.pagination .current button:hover {
  background: none;
}

/* Back-to-top */
/* line 29, ../scss/modules/_site.scss */
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 30px;
  background: rgba(232, 98, 86, 0.8);
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
/* line 46, ../scss/modules/_site.scss */
#back-to-top:hover {
  background: #e86256;
}
/* line 49, ../scss/modules/_site.scss */
#back-to-top.show {
  opacity: 1;
}
/* line 52, ../scss/modules/_site.scss */
#back-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 2, ../scss/modules/_icon.scss */
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}

/* line 7, ../scss/modules/_icon.scss */
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}

/* line 12, ../scss/modules/_icon.scss */
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}

/* line 17, ../scss/modules/_icon.scss */
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}

/* line 22, ../scss/modules/_icon.scss */
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}

/* line 27, ../scss/modules/_icon.scss */
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}

/* line 4, ../scss/modules/_header.scss */
.topbar {
  background: url("../images/starfield-banner.jpg");
  padding: 0.6rem;
}
@media only screen and (min-width: 1024px) {
  /* line 4, ../scss/modules/_header.scss */
  .topbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  }
}
/* line 13, ../scss/modules/_header.scss */
.topbar ul {
  background: none;
}
/* line 15, ../scss/modules/_header.scss */
.topbar ul a {
  color: #fff;
}
/* line 20, ../scss/modules/_header.scss */
.topbar #searchform input {
  background: #333;
  border-color: #000;
}
/* line 23, ../scss/modules/_header.scss */
.topbar #searchform input:focus {
  box-shadow: none;
}
/* line 27, ../scss/modules/_header.scss */
.topbar #searchform button {
  border-radius: 5px;
}

/* line 33, ../scss/modules/_header.scss */
.top-bar-left {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  /* line 33, ../scss/modules/_header.scss */
  .top-bar-left {
    display: block;
  }
}

/* line 39, ../scss/modules/_header.scss */
.header {
  margin-top: 75px;
}
@media only screen and (max-width: 667px) {
  /* line 39, ../scss/modules/_header.scss */
  .header {
    margin-top: 20px;
  }
}
/* line 44, ../scss/modules/_header.scss */
.header #logo {
  width: 180px;
  height: 150px;
}
/* line 48, ../scss/modules/_header.scss */
.header #banner {
  width: 800px;
  height: 150px;
}
@media only screen and (max-width: 667px) {
  /* line 48, ../scss/modules/_header.scss */
  .header #banner {
    display: none;
  }
}

/* line 56, ../scss/modules/_header.scss */
.top-bar.header_menu {
  padding: 0.1rem;
  z-index: 9000;
}
/* line 59, ../scss/modules/_header.scss */
.top-bar.header_menu, .top-bar.header_menu ul {
  background-color: #144377;
}
/* line 62, ../scss/modules/_header.scss */
.top-bar.header_menu .sub-menu {
  z-index: 9000;
}

/* line 1, ../scss/modules/_post.scss */
.post-thumbnail {
  width: 350px;
  height: 250px;
}
/* line 4, ../scss/modules/_post.scss */
.post-thumbnail img {
  width: 350px;
  height: 250px;
}

/* line 11, ../scss/modules/_post.scss */
.feature-thumbnail img {
  width: 40px;
  height: 40px;
}

/* line 17, ../scss/modules/_post.scss */
.post-image {
  position: relative;
  overflow: hidden;
}
/* line 20, ../scss/modules/_post.scss */
.post-image .overlay {
  display: block;
  position: absolute;
  top: 250px;
  left: 0;
  margin-left: 15px;
  width: 350px;
  height: 250px;
  background: #000;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 35, ../scss/modules/_post.scss */
.post-image .overlay a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 46, ../scss/modules/_post.scss */
.post-image:hover .overlay {
  display: block;
  top: 0;
}

/* line 52, ../scss/modules/_post.scss */
.post-content img {
  max-width: 64%;
}

/* line 2, ../scss/modules/_sidebar.scss */
.widget .lead {
  text-transform: uppercase;
}

/* line 5, ../scss/modules/_footer.scss */
.footer .callout {
  border: none;
  background-color: #144377;
  border-bottom: 1px solid #fff;
}
/* line 9, ../scss/modules/_footer.scss */
.footer .callout h5, .footer .callout li, .footer .callout p, .footer .callout a {
  color: #fff;
}
/* line 12, ../scss/modules/_footer.scss */
.footer .callout h5 {
  text-transform: uppercase;
}
/* line 16, ../scss/modules/_footer.scss */
.footer .contact {
  list-style: none;
}
/* line 18, ../scss/modules/_footer.scss */
.footer .contact i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #366599;
  border-radius: 2px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}
/* line 32, ../scss/modules/_footer.scss */
.footer .inline-list a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #366599;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}
/* line 48, ../scss/modules/_footer.scss */
.footer .footer-menu .menu > li:first-child a {
  padding-left: 0;
}
/* line 55, ../scss/modules/_footer.scss */
.footer .footer-menu .copyright .menu li {
  padding-right: 0;
}
@media only screen and (max-width: 480px) {
  /* line 45, ../scss/modules/_footer.scss */
  .footer .footer-menu {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 66, ../scss/modules/_footer.scss */
.footer .footer-bottom a {
  color: #366599;
}
