$footer-bg: #144377;
$icon-bg: #366599;
$link-bg: #366599;
.footer {
    .callout {
        border: none;
        background-color: $footer-bg;
        border-bottom: 1px solid $white;
        h5, li, p, a {
            color: $white;
        }
        h5 {
            text-transform: uppercase;
        }
    }
    .contact {
        list-style: none;
        i {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-color: $icon-bg;
            border-radius: 2px;
            font-size: 1rem;
            color: $white;
            text-align: center;
            line-height: 35px;
            margin: 0 3px 0 0;
        }
    }
    .inline-list {
        a {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-color: $link-bg;
            border-radius: 2px;
            font-size: 1.5rem;
            color: $white;
            text-align: center;
            line-height: 35px;
            margin: 0 3px 0 0;
        }
    }
    .footer-menu {
        .menu {
            > li:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
        .copyright {
            .menu {
                li {
                    padding-right: 0;
                }
            }
        }
        @media only screen and (max-width: $xx-small-screen) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .footer-bottom {
        a {
            color: $link-bg;
        }
    }
}