$height: 150px;
$topbar-bg: #eee;
.topbar {
    background: $topbar-bg;
    ul {
        background: $topbar-bg;
    }
}

.top-bar-left {
    display: flex;
    @media only screen and (max-width: $md-screen) {
        display: block;
    }
}
.header {
    margin-top: 10px;
    #logo {
    	width: 180px;
    	height: $height;
    }
    #banner {
    	width: 800px;
    	height: $height;
    	@media only screen and (max-width: $x-small-screen) {
    		display: none;
    	}
    }
}