$height: 150px;
$topbar-bg: #366599;
$header-menu-bg: #144377;
.topbar {
    @media only screen and (min-width: $md-screen) {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
    }
    background: url('../images/starfield-banner.jpg');
    padding: 0.6rem;
    ul {
        background: none;
        a {
            color: $white;
        }
    }
    #searchform {
        input {
            background: #333;
            border-color: #000;
            &:focus {
                box-shadow: none;
            }
        }
        button {
            border-radius: 5px;
        }
    }
}

.top-bar-left {
    display: flex;
    @media only screen and (max-width: $md-screen) {
        display: block;
    }
}
.header {
    margin-top: 75px;
    @media only screen and (max-width: $x-small-screen) {
        margin-top: 20px;
    }
    #logo {
    	width: 180px;
    	height: $height;
    }
    #banner {
    	width: 800px;
    	height: $height;
    	@media only screen and (max-width: $x-small-screen) {
    		display: none;
    	}
    }
}
.top-bar.header_menu {
    padding: 0.1rem;
    z-index: 9000;
    &, & ul {
        background-color: $header-menu-bg;
    }
    .sub-menu {
        z-index: 9000;
    }
}