$font-size: 2rem;
.fi-social-facebook {
    color: dodgerblue;
    font-size: $font-size;
}

.fi-social-youtube {
    color: red;
    font-size: $font-size;
}

.fi-social-pinterest {
    color: darkred;
    font-size: $font-size;
}

i.fi-social-instagram {
    color: brown;
    font-size: $font-size;
}

i.fi-social-tumblr {
    color: navy;
    font-size: $font-size;
}

.fi-social-twitter {
    color: skyblue;
    font-size: $font-size;
}