.post-thumbnail {
    width: 350px;
    height: 250px;
    img {
        width: 350px;
        height: 250px;
    }
}

.feature-thumbnail {
    img {
        width: 40px;
        height: 40px;
    }
}

.post-image {
    position: relative;
    overflow: hidden;
    .overlay {
        display: block;
        position: absolute;
        top: 250px;
        left: 0;
        margin-left: 15px;
        width: 350px;
        height: 250px;
        background: $black;
        opacity: 0.7;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        a {
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    &:hover .overlay {
        display: block;
        top: 0;
    }
}
.post-content {
    img {
        max-width: 64%;
    }
}